<!DOCTYPE html>
<html>
<head>
  <title>MyCollection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "My Collection", root_path %>
<%= link_to "Platforms", platforms_path %>
<%= link_to "Games", games_path %>

<%= yield %>

</body>
</html>
